<?xml version="1.0" ?>
<launch>
  <arg name="arm_prefix" default="asus"/>
  <arg name="camera_name" default="asus"/>    
  <arg name="device_id" default="#1" />
  <arg name="publish_tf" default="false" />
  <arg name="rgb_camera_info_url" default="asus.yaml"/>

  <!-- the asus sensor attached to the wrist -->
  <include file="$(find industrial_extrinsic_cal)/launch/single_sensor.launch" >
    <arg name="arm_prefix" default="asus"/>
    <arg name="camera_name" default="asus"/>    
    <arg name="device_id" default="#1" />
    <arg name="publish_tf" default="false" />
    <arg name="rgb_camera_info_url" default="$(find abb_irb1600_cal_support/yaml/asus_camera_info.yaml"/>
  </include>

</launch>
