<launch>
  <!-- Balser3 -->
  <arg name="camera1_number" default="21511094"/>
  <arg name="node1_name" default="cam3"/>
  <arg name="config1_file" default="$(find artemis_calibration)/yaml/ACA1920_25gc_21511094.yaml" /> 

  <!--Basler4-->
  <arg name="camera2_number" default="21511083"/> 
  <arg name="node2_name" default="cam4"/>
  <arg name="config2_file" default="$(find artemis_calibration)/yaml/ACA1920_25gc_21511083.yaml" /> 

  <include  file="$(find industrial_extrinsic_cal)/launch/basler_camera.launch" >
     <arg name="camera_number" value="$(arg camera1_number)"/>
     <arg name="node_name"     value="$(arg node1_name)"/>
     <arg name="config_file"   value="$(arg config1_file)"/>
  </include>

  <include  file="$(find industrial_extrinsic_cal)/launch/basler_camera.launch" >
     <arg name="camera_number" value="$(arg camera2_number)"/>
     <arg name="node_name"     value="$(arg node2_name)"/>
     <arg name="config_file"   value="$(arg config2_file)"/>
  </include>

  <node pkg="target_finder" type="stereo_locator_srv" name="StereoLoc" output="screen" >
          <param name="use_rectified_images"  value="false" />
          <param name="left_image_topic"  value="Basler$(arg camera1_number)/image_raw" />
          <param name="left_camera_name"  value="Basler$(arg camera1_number)" />
	  <param name="left_camera_optical_frame" value="Basler$(arg camera1_number)_optical_frame" />
          <param name="right_camera_name" value="Basler$(arg camera2_number)" />	
          <param name="right_image_topic" value="Basler$(arg camera2_number)/image_raw" />
  	  <param name="right_camera_optical_frame" value="Basler$(arg camera2_number)_optical_frame" />	
          <param name="target_rows" value="7" />
          <param name="target_cols" value="7" />
          <param name="target_circle_dia" value="0.0055" />
          <param name="target_spacing" value="0.0171" />
          <param name="use_circle_detector" value="false"/>
	  <param name="camera_to_target_distance" value="1.2"/>
  </node>

  <node name="left_results" pkg="image_view" type="image_view" >
      <remap to="Basler21511094/observer_results_image" from="image"/>
  </node>

  <node name="right_results" pkg="image_view" type="image_view" >
      <remap to="Basler21511083/observer_results_image" from="image"/>
  </node>

</launch>